.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #f7f4ec;
  height: 2373px;
  position: relative;
  overflow-x: auto;
}
.rectangle-1 {
  background: #eae3ca;
  width: 1450px;
  height: 78px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2 {
  background: #eae3ca;
  width: 1450px;
  height: 418px;
  position: absolute;
  left: 0px;
  top: 156px;
}
.img-5058-1 {
  border-radius: 1000px;
  width: 385px;
  height: 385px;
  position: absolute;
  left: 60px;
  top: 172px;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-3 {
  width: 417px;
  height: 372px;
  position: absolute;
  left: 996px;
  top: 611px;
}
.rectangle-32 {
  background: #e9e0c2;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.rectangle-4 {
  width: 86.09%;
  height: 67.2%;
  position: absolute;
  right: 6.47%;
  left: 7.43%;
  bottom: 25.54%;
  top: 7.26%;
  object-fit: cover;
}
.project {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  right: 60.43%;
  left: 7.43%;
  width: 32.13%;
  bottom: 12.63%;
  top: 74.46%;
  height: 12.9%;
}
.rectangle-42 {
  width: 417px;
  height: 372px;
  position: absolute;
  left: 516px;
  top: 611px;
}
.project2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 46.76%;
  left: 7.43%;
  width: 45.8%;
  bottom: 14.25%;
  top: 74.46%;
  height: 11.29%;
}
.rectangle-5 {
  width: 417px;
  height: 372px;
  position: absolute;
  left: 28px;
  top: 611px;
}
.project3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  right: 23.26%;
  left: 7.43%;
  width: 69.3%;
  bottom: -8.33%;
  top: 74.46%;
  height: 33.87%;
}
.rectangle-6 {
  width: 223px;
  height: 108px;
  position: absolute;
  left: 1171px;
  top: 437px;
}
.rectangle-62 {
  background: #cfdbad;
  border-radius: 1000px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.learn-more {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 36px;
}
.home {
  width: 114px;
  height: 53px;
  position: absolute;
  left: 895px;
  top: 93px;
}
.home2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  right: 1.75%;
  left: 0%;
  width: 98.25%;
  bottom: -81.13%;
  top: 0%;
  height: 181.13%;
}
.contact {
  width: 154px;
  height: 51px;
  position: absolute;
  left: 1223px;
  top: 90px;
}
.contact2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  right: -1.79%;
  left: 0%;
  width: 101.79%;
  bottom: 50%;
  top: 0%;
  height: 50%;
}
.about {
  width: 114px;
  height: 60px;
  position: absolute;
  left: 1054px;
  top: 93px;
}
.about2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  right: -1.79%;
  left: 0%;
  width: 101.79%;
  bottom: 50%;
  top: 0%;
  height: 50%;
}
.bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla-bla {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 531px;
  top: 242px;
  width: 590px;
  height: 260px;
}