/* Project */
.project {
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

/* Icon design */
.icon-design {
    color: white;
    font-size: 35px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

/* Thematic Games project */
.thematic-games {
    color: white;
    font-size: 35px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

/* Learn more */
.learn-more {
    color: white;
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

/* Home */
.home {
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

/* Contact */
.contact {
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

/* About */
.about {
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

/* Bla bla bla */
.bla-bla {
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}